<section class="mat-typography">
  <h3>Nueva tarea</h3>
</section>
<br>
<form [formGroup]="nuevoForm" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Escribir aqui..." formControlName="descripcion" #descripcion>
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" routerLink="/lista">Atras</button>&nbsp;
  <button 
    type="submit" 
    (click)="nuevo(descripcion.value)" 
    [disabled]="nuevoForm.pristine || nuevoForm.invalid" 
    mat-raised-button 
    color="primary">Guardar</button>
</form>
